<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Movie Recommender</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>🎬 Movie Recommendation System</h1>

    <div class="section">
      <h2>🔎Search by Title</h2>
      <input type="text" id="titleInput" placeholder="Enter movie title">
      <button onclick="searchByTitle()">Recommend</button>
      <h3>Recommend Movies:</h3>
      <ul id="titleResults"></ul>
    </div>

    <div class="section">
      <h2>❤️Search by Preferences</h2>
      <input type="text" id="genresInput" placeholder="Favorite genres (comma-separated)">
      <input type="text" id="actorsInput" placeholder="Favorite actors (comma-separated)">
      <input type="text" id="directorsInput" placeholder="Favorite directors (comma-separated)">
      <button onclick="searchByPreferences()">Recommend</button>
      <h3>Recommended Movies:</h3>
      <ul id="prefResults"></ul>
    </div>

    <div class="section">
      <h2>🎭Search by Category</h2>
      <select id="categorySelect">
        <option value="genre">Genre</option>
        <option value="actors">Actor</option>
        <option value="director">Director</option>
      </select>
      <input type="text" id="keywordInput" placeholder="Enter keyword">
      <button onclick="searchByCategory()">Search</button>
      <h3>Recommended Movies:</h3>
      <ul id="catResults"></ul>
    </div>

  <script src="script.js"></script>
</body>
</html>
